[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/purriza/v3-core"]
	path = lib/purriza/v3-core
	url = https://github.com/purriza/v3-core
